<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdiot.mapper.DingProcessMapper">
    <resultMap id="BaseResultMap" type="com.gdiot.entity.DingProcess">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="process_id" jdbcType="VARCHAR" property="processId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
        <result column="finish_time" jdbcType="VARCHAR" property="finishTime"/>
        <result column="originator_user_id" jdbcType="VARCHAR" property="originatorUserId"/>
        <result column="originator_dept_id" jdbcType="VARCHAR" property="originatorDeptId"/>
        <result column="originator_dept_name" jdbcType="VARCHAR" property="originatorDeptName"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="business_id" jdbcType="VARCHAR" property="businessId"/>
        <result column="invoice_company" jdbcType="VARCHAR" property="invoiceCompany"/>
        <result column="contract_name_and_number" jdbcType="VARCHAR" property="contractNameAndNumber"/>
        <result column="contract" jdbcType="VARCHAR" property="contract"/>
        <result column="invoice_reason" jdbcType="VARCHAR" property="invoiceReason"/>
        <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType"/>
        <result column="invoice_name" jdbcType="VARCHAR" property="invoiceName"/>
        <result column="taxpayer_number" jdbcType="VARCHAR" property="taxpayerNumber"/>
        <result column="address_and_telephone" jdbcType="VARCHAR" property="addressAndTelephone"/>
        <result column="bank_and_account" jdbcType="VARCHAR" property="bankAndAccount"/>
        <result column="invoice_content" jdbcType="VARCHAR" property="invoiceContent"/>
        <result column="invoice_amount" jdbcType="VARCHAR" property="invoiceAmount"/>
        <result column="tax_rate" jdbcType="VARCHAR" property="taxRate"/>
        <result column="invoice_explain" jdbcType="VARCHAR" property="invoiceExplain"/>
        <result column="invoice_start_time" jdbcType="VARCHAR" property="invoiceStartTime"/>
        <result column="invoice_finish_time" jdbcType="VARCHAR" property="invoiceFinishTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, process_id, title, start_time, finish_time, originator_user_id, originator_dept_id, 
    originator_dept_name, `status`, `result`, business_id, invoice_company, contract_name_and_number, 
    contract, invoice_reason, invoice_type, invoice_name, taxpayer_number, address_and_telephone, 
    bank_and_account, invoice_content, invoice_amount, tax_rate, invoice_explain, invoice_start_time, 
    invoice_finish_time, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ding_process
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ding_process
    where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gdiot.entity.DingProcess"
            useGeneratedKeys="true">
        insert into ding_process (
        <include refid="Base_Column_List"/>
        )values (#{processId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR},
        #{finishTime,jdbcType=VARCHAR}, #{originatorUserId,jdbcType=VARCHAR}, #{originatorDeptId,jdbcType=VARCHAR},
        #{originatorDeptName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR},
        #{businessId,jdbcType=VARCHAR}, #{invoiceCompany,jdbcType=VARCHAR}, #{contractNameAndNumber,jdbcType=VARCHAR},
        #{contract,jdbcType=VARCHAR}, #{invoiceReason,jdbcType=VARCHAR}, #{invoiceType,jdbcType=VARCHAR},
        #{invoiceName,jdbcType=VARCHAR}, #{taxpayerNumber,jdbcType=VARCHAR}, #{addressAndTelephone,jdbcType=VARCHAR},
        #{bankAndAccount,jdbcType=VARCHAR}, #{invoiceContent,jdbcType=VARCHAR}, #{invoiceAmount,jdbcType=VARCHAR},
        #{taxRate,jdbcType=VARCHAR}, #{invoiceExplain,jdbcType=VARCHAR}, #{invoiceStartTime,jdbcType=VARCHAR},
        #{invoiceFinishTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.gdiot.entity.DingProcess">
        update ding_process
        set process_id = #{processId,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        start_time = #{startTime,jdbcType=VARCHAR},
        finish_time = #{finishTime,jdbcType=VARCHAR},
        originator_user_id = #{originatorUserId,jdbcType=VARCHAR},
        originator_dept_id = #{originatorDeptId,jdbcType=VARCHAR},
        originator_dept_name = #{originatorDeptName,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=VARCHAR},
        `result` = #{result,jdbcType=VARCHAR},
        business_id = #{businessId,jdbcType=VARCHAR},
        invoice_company = #{invoiceCompany,jdbcType=VARCHAR},
        contract_name_and_number = #{contractNameAndNumber,jdbcType=VARCHAR},
        contract = #{contract,jdbcType=VARCHAR},
        invoice_reason = #{invoiceReason,jdbcType=VARCHAR},
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
        invoice_name = #{invoiceName,jdbcType=VARCHAR},
        taxpayer_number = #{taxpayerNumber,jdbcType=VARCHAR},
        address_and_telephone = #{addressAndTelephone,jdbcType=VARCHAR},
        bank_and_account = #{bankAndAccount,jdbcType=VARCHAR},
        invoice_content = #{invoiceContent,jdbcType=VARCHAR},
        invoice_amount = #{invoiceAmount,jdbcType=VARCHAR},
        tax_rate = #{taxRate,jdbcType=VARCHAR},
        invoice_explain = #{invoiceExplain,jdbcType=VARCHAR},
        invoice_start_time = #{invoiceStartTime,jdbcType=VARCHAR},
        invoice_finish_time = #{invoiceFinishTime,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>