<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdiot.mapper.DingDeptMapper">
    <resultMap id="BaseResultMap" type="com.gdiot.entity.DingDept">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="dept_manager_id" jdbcType="VARCHAR" property="deptManagerId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, dept_id, dept_name, parent_id, dept_manager_id, create_time,
        update_time
    </sql>

    <select id="selectOne" resultType="com.gdiot.entity.DingDept">
        select
        <include refid="Base_Column_List"/>
        from ding_dept
        where 1 = 1
        <if test="deptId != null">
            and dept_id = #{deptId,jdbcType=VARCHAR}
        </if>
        order by id desc
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gdiot.entity.DingDept">
        insert into ding_dept (
        <include refid="Base_Column_List"/>
        )values (
        default ,#{deptId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR},
        #{deptManagerId,jdbcType=VARCHAR}, default, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.gdiot.entity.DingDept">
        update ding_dept
        set dept_id = #{deptId,jdbcType=VARCHAR},
        dept_name = #{deptName,jdbcType=VARCHAR},
        parent_id = #{parentId,jdbcType=VARCHAR},
        dept_manager_id = #{deptManagerId,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where dept_id = #{deptId,jdbcType=VARCHAR}
    </update>
</mapper>