<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdiot.mapper.FinanceNotifyMapper">
    <resultMap id="BaseResultMap" type="com.gdiot.entity.FinanceNotify">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="notify" jdbcType="INTEGER" property="notify"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, NAME, NOTIFY, create_time, update_time
    </sql>

    <select id="selectOne" resultType="com.gdiot.entity.FinanceNotify">
        select
        <include refid="Base_Column_List"/>
        from finance_notify
        where 1 = 1
        <if test="userId != null">
            and user_id = #{userId,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectAll" resultType="com.gdiot.entity.FinanceNotify">
        select
        <include refid="Base_Column_List"/>
        from finance_notify
    </select>

    <insert id="insert" parameterType="com.gdiot.entity.FinanceNotify">
        insert into finance_notify (
        <include refid="Base_Column_List"/>
        ) values (
        default, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, default,
        default, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update">
        update finance_notify
        set user_id = #{userId,jdbcType=VARCHAR},
        NAME = #{name,jdbcType=VARCHAR},
        update_time = CURRENT_TIMESTAMP
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>

    <update id="updateNotify">
        update finance_notify
        set notify = #{notify,jdbcType=VARCHAR},
        update_time = CURRENT_TIMESTAMP
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>